// $headHeight: 3.73rem;

.large-screen-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > :not(.screen-header){
    height: calc(100% - 3.73rem);
  }
}